<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Cadastrar Área de Lazer
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <form role="form">
              <div class="form-group">
                <label>Tipo de Área</label>
                <select class="form-control">
                           <option>Piscina</option>
                           <option>Churrasqueira</option>
                           <option>Salão de Festas</option>
                        </select>
              </div>
              <div class="form-group">
                <label>Área</label>
                <input class="form-control"> </div>
              <div class="form-group">
                <label>Text Input with Placeholder</label>
                <input class="form-control" placeholder="Enter text">
              </div>
              <button type="submit" class="btn btn-default">Submit Button</button>
              <button type="reset" class="btn btn-default">Reset Button</button>
            </form>
          </div>
          <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>