<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"></h1>
  </div>
</div>
<div class="row">


   <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">13</div>
            <div>Incidentes!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver detalhes!</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">12</div>
            <div>Novas atividades!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver detalhes!</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
 
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          <carousel>
            <slide>
              <img style="position: relative;" src="assets/images/ginastica.jpg" height="392" width="715" alt="First slide">
              <div class="carousel-caption">
                <h3>Sala de ginástica</h3>
              </div>
            </slide>
            <slide>
              <img src="assets/images/piscina.jpg" height="392" width="715" alt="Second slide">
              <div class="carousel-caption">
                <h3>Piscina</h3>
              </div>
            </slide>
            <slide>
              <img src="assets/images/playground.jpg" height="392" width="715" alt="Third slide">
              <div class="carousel-caption">
                <h3>Playground</h3>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>Painel de Notificações
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-bolt fa-fw"></i> Corte de Energia Programado
            <span class="pull-right text-muted small"><em>29-Março-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-users fa-fw"></i> Reunião de Condomínio
            <span class="pull-right text-muted small"><em>27-Março-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-gavel fa-fw"></i> Manutenção portaria
            <span class="pull-right text-muted small"><em>18-Março-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-bath fa-fw"></i> Falta de Água
            <span class="pull-right text-muted small"><em>12-Março-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-truck fa-fw"></i> Mudança
            <span class="pull-right text-muted small"><em>18-Feveiro-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-gavel fa-fw"></i> Manutenção Portão
            <span class="pull-right text-muted small"><em>02-Feveiro-2017</em>
               </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-gavel fa-fw"></i> Manutenção Portão
            <span class="pull-right text-muted small"><em>02-Feveiro-2017</em>
               </span>
          </a>
          <br>
        </div>
        <a href="#" class="btn btn-default btn-block">Ver todas as notificações</a>
      </div>
    </div>
  </div>
</div>
<!-- /.col-lg-4 -->
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Consumo de Água
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Actions
                  <span class="caret"></span>
                  </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
              <li><a href="#">Another action</a>
              </li>
              <li><a href="#">Something else here</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Ano</th>
              <th>Mês</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3326</td>
              <td>2017</td>
              <td>Maio</td>
              <td>R$ 2100.21</td>
            </tr>
            <tr>
              <td>3325</td>
              <td>2017</td>
              <td>Abril</td>
              <td>R$ 1821.00</td>
            </tr>
            <tr>
              <td>3324</td>
              <td>2017</td>
              <td>Março</td>
              <td>R$ 1200.32</td>
            </tr>
            <tr>
              <td>3323</td>
              <td>2017</td>
              <td>Feveiro</td>
              <td>R$ 1900.41</td>
            </tr>
            <tr>
              <td>3322</td>
              <td>2017</td>
              <td>Janeiro</td>
              <td>R$ 1711.75</td>
            </tr>
            <tr>
              <td>3321</td>
              <td>2016</td>
              <td>Dezembro</td>
              <td>R$ 1645.15</td>
            </tr>
            <tr>
              <td>3320</td>
              <td>2016</td>
              <td>Novembro</td>
              <td>R$ 1243.09</td>
            </tr>
            <tr>
              <td>3319</td>
              <td>2016</td>
              <td>Outubro</td>
              <td>R$ 1431.00</td>
            </tr>
            <tr>
              <td>3318</td>
              <td>2016</td>
              <td>Setembro</td>
              <td>R$ 1298.02</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i>Consumo de água anual - Comparativo
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-bar-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          <svg height="347" version="1.1" width="779" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="overflow: hidden; position: relative; left: -0.765625px;">
            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
            <text x="33.84375" y="313" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
            </text>
            <path fill="none" stroke="#aaaaaa" d="M46.34375,313H754" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <text x="33.84375" y="241" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan>
            </text>
            <path fill="none" stroke="#aaaaaa" d="M46.34375,241H754" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <text x="33.84375" y="169" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
            </text>
            <path fill="none" stroke="#aaaaaa" d="M46.34375,169H754" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <text x="33.84375" y="97" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
            </text>
            <path fill="none" stroke="#aaaaaa" d="M46.34375,97H754" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <text x="33.84375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
            </text>
            <path fill="none" stroke="#aaaaaa" d="M46.34375,25H754" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
            <text x="703.453125" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017/Abr</tspan>
            </text>
            <text x="602.359375" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017/Mar</tspan>
            </text>
            <text x="501.265625" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017/Fev</tspan>
            </text>
            <text x="400.171875" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2017/Jan</tspan>
            </text>
            <text x="299.078125" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016/Dez</tspan>
            </text>
            <text x="197.984375" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016/Nov</tspan>
            </text>
            <text x="96.890625" y="325.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
              font-weight="normal" transform="matrix(1,0,0,1,0,7)">
              <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016/Out</tspan>
            </text>
            <rect x="58.98046875" y="25" width="36.41015625" height="288" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="98.390625" y="53.80000000000001" width="36.41015625" height="259.2" rx="0" ry="0" fill="#7a92a3" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="160.07421875" y="97" width="36.41015625" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="199.484375" y="125.80000000000001" width="36.41015625" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="261.16796875" y="169" width="36.41015625" height="144" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="300.578125" y="197.8" width="36.41015625" height="115.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="362.26171875" y="97" width="36.41015625" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="401.671875" y="125.80000000000001" width="36.41015625" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="463.35546875" y="169" width="36.41015625" height="144" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="502.765625" y="197.8" width="36.41015625" height="115.19999999999999" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="564.44921875" y="97" width="36.41015625" height="216" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="603.859375" y="125.80000000000001" width="36.41015625" height="187.2" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="665.54296875" y="25" width="36.41015625" height="288" rx="0" ry="0" fill="#0b62a4" stroke="none" fill-opacity="1"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
            <rect x="704.953125" y="53.80000000000001" width="36.41015625" height="259.2" rx="0" ry="0" fill="#7a92a3" stroke="none"
              fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
          </svg>
          <div class="morris-hover morris-default-style" style="left: 127.85px; top: 135px; display: none;">
            <div class="morris-hover-row-label">2007</div>
            <div class="morris-hover-point" style="color: #0b62a4">
              Series A: 75
            </div>
            <div class="morris-hover-point" style="color: #7a92a3">
              Series B: 65
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
